* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 20px 0 50px;
}
h1 {
    font-weight: bold;
    margin: 0;
}
a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.link{
    color: #2b67ff;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
/*로그인 회원가입 버튼*/
.btn{
    border: 1px solid lightskyblue;
    font-size: 13px;
    color: #000;
    line-height: 38px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    vertical-align: center;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px 5px;
}

.login_btn>a{
    display:block;
    margin: 8px 0;
    height: 40px;
    width: 400px;
}
.kakao_btn{
    display:block;
    margin: 8px 0;
    height: 40px;
    width: 400px;
}

.login_btn >a:hover{
    background-color: lightskyblue;
    color: white;
}

/*아이디찾기 비밀번호 찾기*/
.bottomText{
    text-align: center;
    color: grey;
}
.bottomText > a{
    color: grey;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.bottomText > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: lightskyblue;
    height: 2px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.bottomText > a:hover:before, .bottomText > a:focus:before, .bottomText > a:active:before {
    right: 0;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 400px;
}


