{{>layouts/header}}
<br>

<link rel="stylesheet" href="/css/detail.css">
<div id="all">
    {{#board}}
    <div class="container">
        <div class="detailbtn btn" style="float: right">
            {{#myBoard}}
                <a href="/boards/delete/{{board.id}}" class="btn btn-primary">삭제</a>
                <a href="/boards/edit/{{board.id}}" class="btn btn-primary">수정</a>
            {{/myBoard}}
        </div>
        <ul>
            <!-- css가 풀린 부분-->
            <li><input class="id" type="hidden" name="id"></li>

            <li><h2 class="title">제목 : {{board.title}}</h2></li>
            <li><h5 class="userId">작성자</h5></li>
            <li><pre class="content">내용 : {{board.content}}</pre></li>
            <img src="images" onerror="this.style.display='none';"/>
            {{!이미지가 없을 경우 대체 이미지 숨기기}}

            {{#good}}
                <div>
                <form method="post" action="/boards/like/{{board.id}}">
                    <input type="submit" value="좋아요취소">
                </form>
                </div>
            {{/good}}
            {{^good}}
                <div>
                    <form method="post" action="/boards/like/{{board.id}}">
                        <input type="submit" value="좋아요">
                    </form>
                </div>
            {{/good}}
            <li class="cnt">좋아요 수</li> <li class="cnt">조회 수 &nbsp;</li> <li style="float: right;"><h6>작성일자 : </h6></li>

        </ul>
    </div>
    {{/board}}
    {{! 이전 글 다음 글}}
    <div class="page-control" style="padding-left: 50px">
        <div style="display: inline-block">
            <a id="prev" class="btn btn-secondary" href="">이전 글</a>
        </div>
        <div style="display: inline-block">
            <a id="next" class="btn btn-secondary" href="">다음 글</a>
            <a id="back" class="btn btn-secondary" href="list">뒤로 가기</a>
        </div>
    </div>



        {{! 댓글 작성}}
        {{#userLoginId}}
            <br>
            <hr>
            <ul id="main" >
                <li style="margin: 10px 0px;">
                    <ul class="row" style="-webkit-padding-start:0px;">
                        <li>댓글 작성</li>
                        <li class="userid-li">
                            <input type="text" name="name" class="input1" readonly value="{{userLoginId}}">
                        </li>
                    </ul>
                </li>

                <li>
                    <ul class="row2" style="-webkit-padding-start:0px;">
                        <li><textarea name="content" rows="3" cols="50"
                                      placeholder="댓글을 작성하세요." class="input2" ></textarea></li>
                    </ul>
                </li>

                <div class="comment_btn">
                    <button type="submit">저장</button>
                    <button type="reset">취소</button>
                </div>
            </ul>
        {{/userLoginId}}

        {{! 작성된 댓글 목록}}
            <hr class="list">

            <ul>
                    <span>댓글 수 []</span>
                    <li><input class="comment_id" type="hidden"></li>
                    <li class="comment_id">댓글 작성자 id</li>
                    <li class="comment">댓글 내용</li>

            <div class="comment_btn">
                <a href="/comments/" class="comment_btn" class="btn btn-primary">수정</a>
                <a href="/comments/" class="comment_btn" class="btn btn-primary">삭제</a>
            </div>

        </ul>

</div>
<br>
{{>layouts/footer}}