{{>layouts/header}}
<br>
<div>
    <form action="/boards/{{category}}" method="get" class="row">
        <div class="offset-1 col-3">
            <h3>{{category}}</h3>
            <h5>검색개수 : {{searchCount}}</h5>
        </div>
        <div class="offset-3 col-4 text-end">
            <div class="mb-3">
                <select name="searchOption" style="width: 80px; height: 30px; text-align: center">
                    <option value="title">제목</option>
                    <option value="userName">작성자</option>
                </select>
                {{#keyword}}
                    <input type="text" name="keyword" style="width: 250px" value="{{keyword}}">
                {{/keyword}}
                {{^keyword}}
                    <input type="text" name="keyword" style="width: 250px">
                {{/keyword}}
                <button type="submit" class="btn btn-primary" style="margin-top: 0px;">검색</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="offset-1 col-10">
        <table class="table text-center">
            <thead class="table-warning">
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-4">제목</th>
                <th class="col-md-3">작성자</th>
                <th class="col-md-1">댓글수</th>
                <th class="col-md-1">좋아요</th>
                <th class="col-md-2">작성일자</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {{#boards}}
                <tr>
                    <th>{{id}}</th>
                    <td><a href="/boards/view/{{id}}">{{title}}</a></td>
                    <td>{{userName}}</td>
                    <td>{{commentCount}}</td>
                    <td>{{goodCount}}</td>
                    <td>{{createdAt}}</td>
                </tr>
            {{/boards}}
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination justify-content-center">
            <!-- keyword가 존재하면 => 검색 o -->
            {{#keyword}}
                <li class="page-item">
                    <a class="page-link" href="?searchOption={{searchOption}}&keyword={{keyword}}&page={{previous}}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?searchOption={{searchOption}}&keyword={{keyword}}&page={{next}}">Next</a>
                </li>
            {{/keyword}}
            <!-- keyword가 존재하지 않으면 => 검색 x -->
            {{^keyword}}
                <li class="page-item">
                    <a class="page-link" href="?page={{previous}}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{next}}">Next</a>
                </li>
            {{/keyword}}
        </ul>
        <div class="col-3 text-end">
            <button class="btn btn-danger">글 작성</button>
        </div>
    </div>
</div>
{{>layouts/footer}}