{{>layouts/header}}
    <link href="/css/loginpage.css" rel="stylesheet">
<br>
<div class="form-container sign-in-container">
    <form action="#">
      <h1>로그인</h1>

      <span>or use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button>로그인</button>
      <button>카카오 로그인</button>
      <button>회원가입</button>
    </form>
  </div>
<br>
{{>layouts/footer}}