{{>layouts/header}}
    <link href="/css/loginpage.css" rel="stylesheet">
<br>
<div>
    <form action="#">
      <h1>로그인</h1>
      <input type="text" placeholder="아이디" />
      <input type="password" placeholder="비밀번호" />
      <button>로그인</button>
      <button>카카오 로그인</button>
      <button>회원가입</button>
       <a href="#">아이디/비밀번호 찾기</a>
    </form>
 </div>
<br>
{{>layouts/footer}}