{{>layouts/header}}
<br>
<div class="row">
    <div class="offset-1">
        <h3>인기글 리스트</h3>
    </div>
</div>
<div class="row">
    <div class="offset-1 col-10">
        <table class="table text-center" style="margin-top: 20px; margin-bottom: 50px;">
            <thead class="table-warning">
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-4">제목</th>
                <th class="col-md-3">작성자</th>
                <th class="col-md-1">댓글수</th>
                <th class="col-md-1">좋아요</th>
                <th class="col-md-2">작성일자</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {{#list}}
                <tr>
                    <th>{{id}}</th>
                    <td><a href="/">{{content}}</a></td>
                    <td>2</td>
                    <td>유저1</td>
                    <td>23</td>
                    <td>20221204</td>
                </tr>
            {{/list}}
            </tbody>
        </table>
    </div>
</div>
{{>layouts/footer}}