{{>layouts/header}}
<br>
<div class="row">
    <div class="offset-1">
        <h3>인기글 리스트</h3>
    </div>
</div>
<div class="row">
    <div class="offset-1 col-10">
        <table class="table text-center" style="margin-top: 20px; margin-bottom: 50px;">
            <thead class="table-warning">
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">카테고리</th>
                <th class="col-md-3">제목</th>
                <th class="col-md-2">작성자</th>
                <th class="col-md-1">댓글수</th>
                <th class="col-md-1">좋아요</th>
                <th class="col-md-2">작성일자</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {{#boards}}
                <tr>
                    <th>{{id}}</th>
                    <td>{{category}}</td>
                    <td><a href="/boards/view/{{id}}">{{title}}</a></td>
                    <td>{{userName}}</td>
                    <td>{{commentCount}}</td>
                    <td>{{goodCount}}</td>
                    <td>{{createdAt}}</td>
                </tr>
            {{/boards}}
            </tbody>
        </table>
    </div>
</div>
{{>layouts/footer}}