<!DOCTYPE HTML>
<html lang="ko">
<head>
    <!-- Bootstrap 5.2.3 Version -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"
</head>
<body>
<!-- Bootstrap 5.2.3 Version -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!-- Bootstrap Icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<script>
    {{#wrongId}}
        alert("다른 유저의 마이페이지에 접근할 수 없습니다.")
        window.location.href = "/"
    {{/wrongId}}
</script>

<nav class="navbar navbar-expand-lg" style="background-color: lightskyblue">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Idea-Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav" style="padding: 5px 30px">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        카테고리
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/boards/Development">개발 아이디어</a></li>
                        <li><a class="dropdown-item" href="/boards/Youtube">유튜브 아이디어</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/boards/Notice">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">고객센터</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="user" style="width: 150px; margin-right: 20px;">{{userLoginId}}님의 마이페이지</p>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       style="padding: 0px;">
                        {{#notification}}
                            <i class="bi bi-bell-fill" style="font-size: x-large;"></i>
                        {{/notification}}
                        {{^notification}}
                            <i class="bi bi-bell" style="font-size: x-large;"></i>
                        {{/notification}}
                    </a>
                    <ul class="dropdown-menu">
                        {{#notifications}}
                            <tr>
                                <td>
                                    <li><a class="dropdown-item" href="{{notUrl}}?not={{id}}">{{boardId}}번 글에 댓글이 달렸습니다.                                         </a></li>
                                </td>
                            </tr>
                        {{/notifications}}
                        {{^notifications}}
                            <li><p class="dropdown-item">새로운 알림이 없습니다.</p></li>
                        {{/notifications}}
                    </ul>
                </li>
                <li class="nav-item" style="margin-left: 20px; margin-right: 20px">
                    <button class="btn btn-success" onclick="location.href='/users/{{userId}}/edit'">개인정보수정</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger" onclick="location.href='/users/logout'">로그아웃</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="accordion py-5" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                내가 작성한 글
            </button>
        </h2>

        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- 리스트 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">글 제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성된 시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#boardList}}
                    <tr>
                        <th scope="row">카운트 기능</th>
                        <th>{{title}}</th>
                        <th>{{user.id}}</th>
                        <th>{{createdAt}}</th>
                    </tr>

                    {{/boardList}}
                    </tbody>

                </table>
            </div>
            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="?page={{boardprevious}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{boardnext}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                내가 작성한 댓글
            </button>
        </h2>

        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- 리스트 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">댓글 내용</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성된 시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#commentList}}
                    <tr>
                        <th scope="row">카운트 기능</th>
                        <td>{{content}}</td>
                        <td>{{user.id}}</td>
                        <td>{{createdAt}}</td>

                    </tr>
                    {{/commentList}}
                    </tbody>
                </table>
            </div>
            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{commentprevious}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{commentnext}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                내가 좋아요한 글
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- 리스트 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">좋아요 한 글 제목</th>
                        <th scope="col">한 글의 작성자</th>
                        <th scope="col">좋아요 개수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#boardGoodsList}}
                    <tr>
                        <th scope="row">카운트 기능</th>
                        <td>{{title}}</td>
                        <td>{{userName}}</td>
                        <td>{{goodCount}}</td>
                    </tr>
                    {{/boardGoodsList}}
                    </tbody>
                </table>
            </div>
            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{{>layouts/footer}}
