{{>layouts/header}}
    <link href="/css/signuppage.css" rel="stylesheet">
    <script>
        {{#iddup}}
            alert("아이디가 중복됩니다")
        {{/iddup}}
        function check_pw(){
            if(document.getElementById('pw').value !='' && document.getElementById('pw2').value!=''){
                if(document.getElementById('pw').value==document.getElementById('pw2').value){
                    document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                    document.getElementById('check').style.color='blue';
                }
                else{
                    document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                    document.getElementById('check').style.color='red';
                }
            }
        }
    </script>
<br>
<div>
    <form  action="/users/create" method="post" >
        <h1>회원 가입</h1>

        <input type="text" name="name" placeholder="이름" required/>

        <input class="birth_inp" type="text" name="birth" placeholder="출생년도 ex)981001" required />

        <div class="radio_box">
            <p>성별</p>
            <input class="radio_inp" type="radio" name="gender" value="1" required/>
            <p>남자</p>
            <input class="radio_inp"  type="radio" name="gender" value="2"/>
            <p>여자</p>
            <input class="radio_inp"  type="radio" name="gender" value="3"/>
            <p>기타</p>
         </div>

        <input type="text" name="loginId" placeholder="아이디" required/>
        <input type="password" name="password" placeholder="비밀번호" id="pw"  required/>
        <input type="password" placeholder="비밀번호 확인" id="pw2" onchange="check_pw()"  required />
        <span id="check"></span>
        <input type="text" name="phoneNumber" placeholder="전화번호" required/>

        <div class="check">
            <input class="birth_inp" type="email" name="email" placeholder="이메일" required />
            <button type="button" class="btn btn-secondary btn-sm ">인증번호 전송</button>
        </div>

        <div class="check">
            <input class="birth_inp" type="text" placeholder="이메일 인증 번호" required/>
            <button type="button" class="btn btn-secondary btn-sm ">인증번호 확인</button>
        </div>

        <button class="signup_btn" type="submit"> 가입하기 </button>

        <div class="bottomText">
            이미 계정이 있으신가요? <a href="login">로그인 하기</a>
        </div>
    </form>

 </div>
<br>
{{>layouts/footer}}