{{>layouts/header}}
<link rel="stylesheet" href="/css/writer.css">
<br>
<div class="container text-center">
<form method="post" action="/boards/{{category}}/write/{{userId}}">
    <table class="table table-striped" style="text-align: center; border: solid 1px #dddddd">
        <thead>
        <tr>
            <th style="text-align: center;">게시판 글쓰기 양식</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>
            <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="글 제목" name="title">
            </div>
        </td>
        </tr>
        <tr>
            <td>
                <textarea class="form-control" style="height: 350px"  placeholder="글 내용" name="content" ></textarea>
            </td>
        </tr>
        <tr>
            <td>
            <div class="mb-1">
                <input class="form-control" type="file" id="formFile">
            </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="writer_btn">
        <button type="submit">등록</button>
        <button type="reset">초기화</button>
        <a href="/boards/{{category}}">목록</a>
    </div>


</form>
</div>

<br>
{{>layouts/footer}}